org: azhao
app: serverless-boilerplate
service: serverless-boilerplate # NOTE: update this with your service name

frameworkVersion: '2'

plugins:
  - serverless-api-gateway-throttling

custom:
  # Configures throttling settings for the API Gateway stage
  # They apply to all http endpoints, unless specifically overridden
  apiGatewayThrottling:
    maxRequestsPerSecond: 1000
    maxConcurrentRequests: 500
  # Profiles for stages
  profiles:
    dev: default
    prod: default
  envs:
    dev:
      DB_HOST: blah
    prod:
      DB_HOST: blah
  allowedOrigins:
    # This is the allowed origin for preflight request, only '*' or a single domain is allowed
    # If you have multiple domains, use '*' here and validate the origins in Lambda code instead
    dev: '*'
    prod: http://example2.com

provider:
  name: aws
  # Node version
  runtime: nodejs14.x
  apiGateway:
    # API key names
    apiKeys:
      - ${self:service}-${opt:stage, self:provider.stage}
  # Default stage if `stage` option is not provided
  stage: dev
  # AWS profile to use
  profile: ${self:custom.profiles.${opt:stage, self:provider.stage}}
  # Environment variables
  environment:
    DB_HOST: ${self:custom.envs.${opt:stage, self:provider.stage}.DB_HOST}
    STAGE: ${opt:stage, self:provider.stage} 
  lambdaHashingVersion: 20201221

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          path: hello
          method: get
          # Override throttling config
          #throttling:
          #  maxRequestsPerSecond: 2000
          #  maxConcurrentRequests: 1000
          private: true
          # Preflight requests
          cors:
            origins: ${self:custom.allowedOrigins.${opt:stage, self:provider.stage}}
            headers:
              - Content-Type
              - X-Amz-Date
              - Authorization
              - X-Api-Key
              - X-Amz-Security-Token
              - X-Amz-User-Agent
            allowCredentials: false
